<div class="jumbotron">
  <h2>The Church</h2>
  <p><h4>Who held the power in the Church?</h4></p>
  <p><a class="btn btn-primary btn-lg" href="http://www.firstchurchinsalem.org/" role="button">Learn more</a></p>
</div>
