<div class="spacing">
  <h5>Please, when you are done with your article in google docs, go to</h5>
  <p><h5>file, then press publish to the web. Click the buttton that says</h5></p>
  <p><h5>only lab school people can access. Then please send Jeffrey Chen the link.</h5></p>
  <p><h5>Also please tell him what the article subject is, what category</h5></p>
  <p><h5>it belongs to, your name, and a brief discription of the topic.</h5></p>
  <br>
  <p><h3>THANK YOU!!!</h3></p>

</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <h2>Leading News!</h2>
  </div>
</div>

<div class="jumbotron">
  <h2>The Court of Oyer and Terminer and the Superior Court of Judicature</h2>
  <p><h4>By Jeffrey Chen</h4></p>
  <p><a class="btn btn-primary btn-lg" href="https://docs.google.com/document/u/1/d/e/2PACX-1vRgJ3M24D4c5FXJSiHr7xQDwq2PWHugt37pEI5VGxmyJ3cM5g5MYr13r8bmDV5O43r72CZqvyymEtwm/pub" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <h2>Giles Corey</h2>
  <p><h4>By James Fry</h4></p>
  <p><a class="btn btn-primary btn-lg" href="https://docs.google.com/document/u/1/d/e/2PACX-1vSsJoPBGEmOf3G6XZXLLiRwM9vMQl49-E9PmPu27zKif0BINWQ2FzAWnaHMauEwsLOpao9vOYO1J9p2/pub" role="button">Learn more</a></p>
</div>
