<div class="jumbotron">
  <h2>Ergot Poisoning</h2>
  <h4>By Blake Dunkley</h4>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <h2>How the hysteria began</h2>
  <h4>By Anne Mykland</h4>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <h2>How the hysteria ended</h2>
  <h4>By Amelia Zheng</h4>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
