<div class="jumbotron">
  <h2>Native American Wars</h2>
  <h4>By Tilliam Wan Tan</h4>
  <p><a class="btn btn-primary btn-lg" href="https://4.bp.blogspot.com/-FTm9Ayi4G_Y/WKmSw9Sf_JI/AAAAAAAASsg/maNpbupnbZIJHVWyz2PQAbxLGr7IhMwbACLcB/w1200-h630-p-k-no-nu/William%2BTan.jpg" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <h2>King Williams War</h2>
  <h4>By Louis Auxefauns</h4>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
