/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: MistyRose;

}

.navbar-default {
  background-color: Aquamarine;
  border-width: medium;
  border-color: Coral;
  border-top-width: thick;
  border-top-color: Salmon;
}

.jumbotron {
  background-color: PeachPuff;
  padding-left: 120px;
  border-width: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 350px;
  margin-left: 100px;

}

.spacing {
  margin-left: 80px;
  margin-top: 40px;
}

.navbar-brand {
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 105px;
}
