<div class="jumbotron">
  <h2>Interview with the girls</h2>
  <h4>By ???</h4>
  <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Mary_Warren" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <h2>Porters vs. Putnams</h2>
  <p><h4>By Camille Bryant</h4></p>
  <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Mary_Warren" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <h2>Mary Easty</h2>
  <p><h4>By Abby Macswain</h4></p>
  <p><a class="btn btn-primary btn-lg" href="https://docs.google.com/document/u/1/d/e/2PACX-1vRDA3iJetnRtAL_QQ4vI5s2KjR5gfFK2PE2MMAYwVLu8oV8lgrMrm0iwkYzgNdZ_7thF_XLOn65lBLG/pub" role="button">Learn more</a></p>
</div>
